* {
  background-color: rgb(45, 50, 50);
  color: white;
  font-family: 'Tilt Neon', sans-serif;
}
/* 
FONTS

font-family: 'Orbitron', sans-serif;
font-family: 'Share Tech Mono', monospace;
 */

header,
main, 
footer {
  border: 2px solid #fe39a4;
  padding: 10px;
}

h1, h2 {
  border: 2px solid #fffdbb;
  padding: 10px;
  color: #53e8d4;
  text-align: center;
}

colors {
  color: #8921C2;
  color: #fe39a4;
  color: #fffdbb;
  color: #53e8d4;
  color: #25c4f8;

}

h3 {
  color: #25c4f8;
  text-align: center;
  border-bottom: 2px solid #fffdbb;
}



.btn-outline-success {
  color: #53e8d4;
  border-color: #53e8d4;
}

.btn-outline-success:hover {
  background-color: #53e8d4;
  border-color: #53e8d4;
}

a {
  text-decoration: none;
  color: #25c4f8;

}

.game-card-header:hover {
  color: #25c4f8;
}

#logout {
  border: none;
  color: #25c4f8;
}

#logout:hover {
  color: #0a58ca
}

.small-data {
  display: flex; 
  justify-content: space-evenly;
  padding-top: 20px;
}

/* 
// NEON ANIMATIONS AND GLOW
.neonText {
  color: #fff;
  text-shadow:
    
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

h1 {
  animation: flicker 1.5s infinite alternate;     
} */